@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    background-color: #E5EAF0;

}

@media(min-width: 600px){
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin: 180px;
    width: 380px;
    box-shadow: 8px 8px #d4b3b3ea;
}

.imagem {
    justify-items: center;
    border-radius: 16px;
}

.titulo {
    font-family: "Sora";
    font-size: 1.125rem;
    color: #20293A
}

.paragrafo {
    font-family: "Sora";
    font-size: 0.875rem;
    color: #6C727F;
}

.autor {
    font-family: "Sora";
    font-size: 10px;
    color: #6C727F;
    margin: 16px;
    border-top: 1px solid #e5eaf0;
    padding: 20px 0px;
}

.conteiner__imagem {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 16px;
}

.design {
    font-family: "Sora", sans-serif;
    font-size: 11px;
    font-weight: 600;
    border-radius: 30px;
    width: 65px;
    height: 19px;
    border-style: none;
    color: #883AE1;
    margin: 8px 16px 0px;
}

.conteiner__titulo {
    margin: 16px;

}

.conteiner__paragrafo {
    flex-direction: column;
}